{% extends "stock/base.html" %}
{% block content %}

{% if form.errors %}
  <p>Usuario ou senha incorretos.</p>
{% endif %}


<div class='row'>
    <div class="col-sm-6">
<div class="container">
 <h2>Entre:</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

<div class="form-group">
     <label for="eme">Usuario:</label>
     {{ form.username }}
   </div>
<div class="form-group">
     <label for="se">Senha:</label>
     {{ form.password }}
   </div>
   <input type="submit" class="btn btn-primary" value="login" />
   
</form>
<p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
</div>
</div>
</div>
{% endblock %}