
<!DOCTYPE html>
<html>
<title>Gerenciador de Estoque</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


  
  {% load static %}


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:1%">

  <!-- Header -->
  <center><header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Gerenciador de Estoque</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
    <button class="w3-button w3-white"><form class="example" action="{% url 'search' %}" method="get">
    <input type="text" placeholder="Pesquisar" name="pesq">
    <button type="Pesquisar"><i class="fa fa-search"></i></button>
    <button class="w3-button w3-white" ><a href="{% url 'cadastro' %}">Cadastrar Produtos</a></button>
    <button class="w3-button w3-white" ><a class="btn btn-primary" href="{% url 'sem_estoque' %}">Produtos em falta</a></button>
    <hr>
  </form>
    </div>
    </div>
  </header></center>
{% block content %}
{% endblock %}


  
  </body>
  </html>