{% extends "stock/base.html" %}
{% block content %}


    {% for Produtos in object_list %}
<center>
  <!-- First Photo Grid-->
  <div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{Produtos.Imagem.url}}" alt="{{Produtos.Nome}}" style="width:100%" class="w3-hover-opacity">
      
      <div class="w3-container w3-white" >
        <p><b>{{Produtos.Nome}} - {{Produtos.Descrição}}</b></p>
        <p>Código: {{Produtos.Código}}</p>
        <p>Quantidade em estoque: {{Produtos.Quantidade}}</p>
        <div class='row'>
        <div class= "col-sm-4">
      <form method="POST" action="{% url 'add-stock' Produtos.id %}">
        {% csrf_token %}
        <input type="number" name="Quantidade" min='1'>
        <input type="submit" value='Adicionar ao Estoque'>
      </form></div>
      <div class= "col-sm-4">
      <form method="POST" action="{% url 'remove-stock' Produtos.id %}">
          {% csrf_token %}
        <input type="number" name="Quantidade" min='1'>
        <input type="submit" value='Remover do Estoque'>
      </form></div>

      </div>
    </div>
  </div></center>

  {% endfor %}
  {% endblock %}
  <!-- Second Photo Grid-->

